/*------------------------------------------------------------------
[Main Stylesheet]

Project     : Contact Manager-ReactToHtml
Version     : 1.0
-------------------------------------------------------------------*/

/*
==========================================
  site fonts
==========================================
*/

@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*------------------------------------------------------------------
[Table of contents]

1.  reset css
2.  main css
0.  responsive css

-------------------------------------------------------------------*/

/*
==========================================
1.  reset css
==========================================
*/

* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #000;
  background-color: #fafafa;
}
a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
hr {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
ul li {
  list-style-type: none;
}

/*
==========================================
2.  main css
==========================================
*/

.form-control {
  padding: 0.375rem 1.25rem !important;
}
#displayEmail {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
==========================================
0.  responsive css
==========================================
*/

@media screen and (max-width: 768px) {
  .search,
  .btn_add {
    width: 100%;
  }
  .btn_add {
    position: relative !important;
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    position: relative !important;
  }
  .m_mw_auto {
    width: auto !important;
  }
}
