* {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}

.banner {
    margin: auto;
    width: 50%;
    text-align: center;
}

.menu {
    position: absolute;
    right: 0px;
    padding: 35px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #3366cc;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup {
    display: flex;
}

.signup ul li {
    display: block;
    list-style: none;
    margin: 30px;
}

.label-1 {
    top: 3px;
    position: relative;
    left: 40%;
    margin-right: 40%;
    vertical-align: middle;
}

.label-2 {
    position: relative;
}

.submit {
    text-align: center;
    display: flex;
}
